
<div class="row mb-3 text-center mx-auto">
  <h1>Productos</h1>
    <div class="col-3 themed-grid-col">Codigo de producto</div>
    <div class="col-3 themed-grid-col">Nombre de producto</div>
    <div class="col-3 themed-grid-col">Precio Unitario</div>
    <div class="col-3 themed-grid-col">Acción</div>
  </div>
  @for (item of producList; track item.id)
  {
  <div class="row mb-3 text-center mx-auto">
    <div class="col-3 themed-grid-col">{{item.codProducto}}</div>
    <div class="col-3 themed-grid-col">{{item.producto}}</div>
    <div class="col-3 themed-grid-col">{{item.precio}}</div>
    <div class="col-3 d-flex gap-3 p-1"><button class="btn btn-primary ">Editar</button><button class="btn btn-danger">Eliminar</button></div>
  </div>
  }
  <td><button class="btn btn-primary">Agregar produto</button></td>