<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">BallSport</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Descubre el placer de disfrutar de tus deportes favoritos al aire libre con BallSport!</h2>
        <p class="text-body-secondary">En nuestra tienda, encontrarás todo lo necesario para practicar tus actividades al aire libre. Desde la mejor vestimenta y equipo hasta accesorios para que tengas una experiencia inolvidable.</p>
        <a href="#" class="btn btn-primary btn-lg" routerLink="/carrito">Comprar</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          @for (item of producList; track item.id) {
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">{{item.producto}}</h4>
            <p class="text-body-secondary">{{item.descripcion}}</p>
            <p>{{item.precio | currency: '$'}}</p>
            
              <a href="#" class="btn btn-primary rounded-pill px-3" routerLink="/carrito">Agregar al carrito</a>
            
          </div>
        }

        

        
        </div>
      </div>
    </div>
  </div>