<div class="row mb-3 text-center mx-auto">
  <h1>Pedidos pendientes</h1>
    <div class="col themed-grid-col">Nombre</div>
    <div class="col themed-grid-col">Apellido</div>
    <div class="col themed-grid-col">Fecha</div>
    <div class="col themed-grid-col">Monto</div>
    <div class="col themed-grid-col">Forma de pago</div>
    <div class="col themed-grid-col">Estado</div>
    <div class="col themed-grid-col">Acción</div>
  </div>
  @for (item of pedidosList; track item.id)
  {
  <div class="row mb-3 text-center mx-auto" style="flex-wrap: nowrap;">
    <div class="col themed-grid-col">{{item.nombre}}</div>
    <div class="col themed-grid-col">{{item.apellido}}</div>
    <div class="col themed-grid-col">{{item.fecha}}</div>
    <div class="col themed-grid-col">{{item.monto | currency : '$'}}</div>
    <div class="col themed-grid-col">{{item.formDePago}}</div>
    <div class="col themed-grid-col">{{item.Estado}}</div>
    <div class="col d-flex gap-3 p-1"><button class="btn btn-primary ">Editar</button><button class="btn btn-danger">Eliminar</button></div>
  </div>
  } 